html, body {
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}

/*FORTUNE*/

.fortune-wrapper {
  display: block;
  height: 400px;
  padding: 50px;
  width: 600px;
}
.fortune {
  display: block;
  height: 200px;
  left: 150px;
  position: absolute;
  top: 120px;
  -webkit-transform-origin: 40% 50%;
          transform-origin: 40% 50%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  width: 500px;
}
.fortune-left {
  background-image: url("cookie-l.png");
  background-position: right center;
  background-repeat: no-repeat;
  height: 200px;
  left: 0;
  position: absolute;
  width: 200px;
  z-index: 1;
}
.fortune-right {
	background-image: url("cookie-r.png");
  background-position: 20px 20px;
  background-position: left center;
  background-repeat: no-repeat;
  height: 200px;
  left: 190px;
  position: absolute;
  width: 200px;
  z-index: 3;
}
.fortune-message {
	bottom: 80px;
  display: inline-block;
  font-family: courier;
  left: -150px;
  overflow: hidden;
  position: absolute;
  right: 180px;
  top: 50px;
  transform: rotateZ(8deg);
  -webkit-transform: rotateZ(8deg);
  z-index: 2;
}
.fortune-message span {
  display: block;
  background-color: #fff;
  color: #000;
  padding: 8px 65px 7px 15px;
  white-space: nowrap;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
